/* Moderní box model - nastavená šířka boxu je včetně paddingu a borderu */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;   /* stránka neodskakuje, ale plynule scrolluje (při navigaci pomocí id# odkazů na stránce ) */
    }
    
    *,
    *:before,
    *:after {
    box-sizing: inherit;
    }
    
    /*
    sTo nahoře je černá magie, na to raději nešahej.
    Ale sem dolů už si můžeš psát, co budeš chtít.
    
    Tohle je mimochodem opět komentář, ale v CSS.
    Začíná a končí trochu jinak než v HTML, ale
    princip je stejný.
    ------------------------------------------------
    */
    
body {
    margin: 0;
    /* background-color: #1E3A5F; */
    /* color: #D1D1D1; */
    /* font-family: "Mukta", sans-serif; */
    font-size: 20px;
}

.cube div {
    box-sizing: content-box;
    background-color: orange;
    width: 5rem;
    height: 5rem;
    border: 0.2rem solid gray;
    display: inline-block;
}

.cube div.right {
    border-right-color: yellow;
    border-right-width: 1rem;
}

.cube div.bottom {
    border-bottom-color: blue;
    border-bottom-width: 1rem;
}

.cube div.left {
    border-left-color: white;
    border-left-width: 1rem;
}

.cube div.up {
    border-top-color: green;
    border-top-width: 1rem;
}